!!!
%html
  %head
    %title Email Generator
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}/
    %script{src: "/vendor/jquery-1.9.1.min.js"}
    %script{src: "/vendor/bootstrap/js/bootstrap.min.js"}
    %script{src: "/index.js"}

  %body
    .container
      %form#permutator
        .form-group
          %label{for: "firstname"} Firstname:
          %input#firstname.form-control{type: "text", required: true, placeholder: "Enter firstname"}/
        .form-group
          %label{for: "lastname"} Lastname:
          %input#lastname.form-control{type: "text", required: true, placeholder: "Enter lastname"}/
        .form-group
          %label{for: "domain"} Company:
          %input#domain.form-control{type: "text", required: true, placeholder: "Enter Company"}/

        %button.btn.btn-default{:type => "submit"} Submit



