!!!
%html
  %head
    %title Email Generator
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel: "stylesheet"}/
    / jQuery library
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    / Bootstrap JS
    %script{src: "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    %script{src: "/index.js"}

  %body
    = haml(:'modals/emails_modal')
    = haml(:'modals/loading_modal')

    .container
      %form#permutator_form
        .form-group
          %label{for: "firstname"} Firstname:
          %input#firstname.form-control{ name: 'firstname', type: "text", required: true, placeholder: "Enter firstname"}/
        .form-group
          %label{for: "lastname"} Lastname:
          %input#lastname.form-control{name: 'lastname', type: "text", required: true, placeholder: "Enter lastname"}/
        .form-group
          %label{for: "domain"} Company:
          %input#domain.form-control{name: 'domain',type: "text", required: true, placeholder: "Enter Company"}/

        %button.btn.btn-default{:type => "submit"} Submit





